@import "tailwindcss";

@theme {
  --color-zomato-red: #E23744;
  --color-swiggy-orange: #FC8019;
  --color-instagram-dark: #000000;
  --color-instagram-gray: #262626;
  --color-instagram-light: #FAFAFA;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-instagram-dark text-white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent body scroll, handle in Feed */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar,
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}